@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}

#root {
    position: relative;
    background-color: #f7f7ff;
    max-width: 800px;
    margin: 0 auto;
    height: 100dvh;
    overflow: hidden;
}